body{
    font-family: "Montserrat", sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 8%;
    margin-right: 8%;
    color: rgb(53, 53, 53);
    line-height: 1.4rem;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.7rem;
    font-weight: 400;
    margin: 0.8rem 0;
}

#logo{
    margin: 3rem auto;
    display: block;
}

.navbar{
    list-style: none;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.navbar a{
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(50, 50, 50);
}

.navbar a:hover{
    cursor: pointer;
    color: rgb(99, 99, 99);
    border-bottom:1px solid rgb(117, 117, 117) ;
}

section{
    display: flex;
    gap:4rem;
}

article{
    flex: 1;
}
article:hover{
    cursor: pointer;
}

footer{
    display: flex;
}
footer div{
    flex: 1;
}


.promo img {
  max-width: 100%;
  height: auto;
  display: block;
  border: 1px solid rgb(238, 238, 238);
  box-shadow: 1px 1px 8px 1px  rgb(240, 240, 240);
}


.promo {
  position: relative;

}

.promo-text {
  position: absolute;
  bottom: 20%;
  left: 8%;
  max-width: 400px;
  background-color: rgb(238, 238, 238,0.8);
  padding: 1rem;
  
}


hr{
    margin: 2rem 0;
    border-top: 1px solid rgb(235, 235, 235);
}

.category{
    margin-top: 2rem;
    padding: 1rem 2rem;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: 1px 1px 8px 1px  rgb(240, 240, 240);
}

.category:hover{
    box-shadow: 2px 2px 9px 4px  rgb(229, 229, 229)
}

.category img{
    width: 100%;
}

.copyright p{
    text-align: end;
    margin: 0;
}

.discount{
    width: fit-content;
    padding: 0.2rem 0.5rem;
    margin-top: 0.5rem;
    display: block;
    background-color: #b20022;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 500;
}



