*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

#logo{
    margin: 50px auto;
    display: block;
}

.navbar{
    list-style: none;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.navbar a{
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(50, 50, 50);
}

.navbar a:hover{
    cursor: pointer;
    color: rgb(99, 99, 99);
    border-bottom:1px solid rgb(117, 117, 117) ;
}